:root {
  --rock: #7f7979;
  --paper: #eae0d5;
  --scissors: #30343f;
  --handle-scissors: #219ebc;
  --body: #edf6f9;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  padding: 5px;
  background-color: var(--body);
  font-size: 25px;
  font-family: "Rubik Dirt", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
form,
ul,
ol,
dl {
  margin: 20px 0;
}
li,
dd,
blockquote {
  margin-left: 40px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

h1 {
  font-size: 50px;
}

#choices-container {
  display: flex;
  justify-content: space-around;
  margin: 150px auto 0;
  max-width: 1220px;
}
